# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# bubblewrap
*.apk
*.aab
*.idksig
*.idsig
android.keystore
gradlew
gradlew.bat
gradle/
.gradle/
app/
build/
build.gradle
settings.gradle
gradle.properties
twa-manifest.json
store_icon.png
manifest-checksum.txt
